*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: inherit;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tr{
    width: 0;
    height: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid rgb(255, 255, 255);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;

}
header{
    width: 100%;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center ;
    color: white;
    justify-content: space-between;
    /* justify-content: space-around; */
}
#Search_label{
    display: flex;
    justify-content: space-evenly;
    width: 17vw;
    height: 3vh;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 10px;
    padding: 1px;
    box-sizing: content-box;
    align-items: center;
}
input{
    width: 13vw;
    background: none;
    border: none;
    color: white;
}
label img{
    width: 2vh;
    height: 2vh;
}
.header_con{
    width: 44vw;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#logo{
    width: 1.8vw;
    color: white;
}
header ul{
    width: 18vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    font-weight: bold;
}
.w{
    width: 3.5vw;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#play{
    width: 1.2vw;
    border-radius: 50%;
}
.header_con2{
    display: flex;
    align-items: center;
    padding-right: 2vw;
}
.small{
    border: 1px solid rgb(66, 66, 66);
    border-radius: 5px;
    padding: 1px;
}
.header{
    width: 100%;
    height: 8vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: end;
}
.btn_con{
    /* width: 35vw; */
    height: 5.5vh;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 13px;
}
.btn_con label{
    /* box-sizing: content-box ; */
    height: 5.5vh;
    padding: 0.9vh 0.5vw;
}
.btn_con input{
    display: none;
}
.btn_con p{
    
    padding: 0.5vw;
}
.btn_con p{
    display: inline-block;
}
.check::after{
    content: '45';
    font-size: 13px;
    padding: 0.1vw 0.3vw; 
    border-radius: 10px;
    background-color: rgb(199, 199, 199);
}
#header_btn1:checked~#header_btn1_label,
#header_btn2:checked~#header_btn2_label,
#header_btn3:checked~#header_btn3_label,
#header_btn4:checked~#header_btn4_label,
#header_btn5:checked~#header_btn5_label{
    border-bottom: 2px solid orange;
}
section{
    width: 65%;
    height: 86vh;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

article{
    height: 100%;
}
section article:nth-child(1){
    width: 27%;
    border: 1px solid black;
}
.pro{
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(194, 194, 194);

}
section article:nth-child(1) p:nth-child(1){
    padding: 1vh 0;
    font-size: 25px;
    color: rgb(194, 194, 194);
}
.pro_btn{
    display: block;
    width: 100%;
    height: 4vh;
    background-color: #e9e9e9;
    text-align: center;
    line-height: 4vh;
    border-radius: 10px;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid rgb(194, 194, 194);

}
.follow img{
    width: 20px;
}
.follow{
    font-size: 13px;
    padding: 1.5vh ;

}
.dot::before{
    content: '·';
    width: 5px;
    height: 5px;
    padding-right: 5px;
    /* background-color: black; */
}
section article:nth-child(2){
    width: 72%;
    border: 1px solid black;

}